:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

*{
    color: var(--fontColor);
    font-family: helvetica;
}

body{
    background: var(--bg);
}

ul{
    font-family: Helvetica;
}

li{
    list-style: circle;
}

.list{
    list-style: square;
}

/* .light-theme{
    --bg:var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
} */

.light-theme{
    --bg: #F5F5F5; /* Fundo mais claro */
    --fontColor: #333333; /* Cor do texto mais escura */
    --btnBg: #007BFF; /* Cor de fundo do botão */
    --btnFontColor: #FFFFFF; /* Cor do texto do botão */
}

.dark-theme{
    --bg: #333333; /* Fundo mais escuro */
    --fontColor: #F5F5F5; /* Cor do texto mais clara */
    --btnBg: #6C757D; /* Cor de fundo do botão */
    --btnFontColor: #FFFFFF; /* Cor do texto do botão */
}

.btn{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus{
    outline-style: none;
}